.comment {
	padding: 1rem;

	.content {
		margin-bottom: 1rem;
		white-space: pre-line;
		font-family: "Sentinel A", "Sentinel B";
		font-weight: 400;
		font-style: normal;
		font-size: 1rem;
		line-height: 1.4;
	}

	footer {
		opacity: 0.5;
	}
}
