.thread {
	header {
		font-family: "Vitesse SSm A", "Vitesse SSm B";
		background: #003;
		margin: 0 -50vw;
		padding: 1rem 50vw;

		h1 {
			font-size: inherit;
			font-weight: bold;
			margin: 0;
		}
	}
}
