.image-detail {
	margin: 0 -1rem; // counter the app padding to go full width

	img {
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

	figcaption {
		position: relative;
		background: #003;
		padding: 1rem;

		.title {
			font-weight: bold;
		}

		.meta {
			opacity: 0.75;
			font-size: 0.875rem;
		}

		.next-prev {
			display: flex;
			justify-content: space-between;
			background: #003;
			padding: 1rem;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: 0.875rem;

			& > * {
				flex: none;
			}

			a {
				opacity: 0.75;
			}
		}
	}
}
