*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: helvetica, arial, sans-serif;
	margin: 0;
	background: #336;
	color: #ccf;
}

a {
	color: inherit;

	&.active {
		text-decoration: none;
	}
}
