@import "variables";

*,
*::after,
*::before {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
}

body {
	font-family: $ui-font;
	margin: 0;
	background: #336;
	color: #ccf;
}

input,
textarea,
button {
	font-family: $ui-font;
}

a {
	color: inherit;

	&.active {
		text-decoration: none;
	}
}

button {
	border: none;
	padding: 0.5rem 1rem;
	background: #003;
	color: white;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	transition: opacity .5s;

	&[disabled] {
		opacity: 0.2;
	}
}
