.app-header {
	h1 {
		font-weight: bold;
		font-size: 1rem;
	}

	nav {
		a {
			color: inherit;
			text-decoration: none;
			display: inline-block;
			margin-right: 1em;
			border-radius: 2px;

			&.active {
				background: rgba(255, 255, 255, 0.1);
			}
		}
	}
}
